@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-background dark min-h-screen antialiased text-foreground-700;
}

:root {
  --rowColor-red: #ff6f6f;
  --rowColor-orange: #ff9970;
  --rowColor-light-orange: #ffbd70;
  --rowColor-yellow: #ffd870;
  --rowColor-lime-green: #c5ff70;
  --rowColor-green: #70ff94;
  --rowColor-turquoise: #70ffd9;
  --rowColor-light-blue: #70d9ff;
  --rowColor-blue: #7094ff;
  --rowColor-magenta: #c570ff;
  --rowColor-purple: #ff70bb;
  --rowColor-black: #404040;
  --rowColor-gray: #808080;
  --rowColor-silver: #b0b0b0;
  --rowColor-white: #e8e8e8;
}

body::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-content4 rounded-xl;
}
