@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  font-size: 16px;
}

html,
body {
  @apply bg-background text-foreground-700;
  scrollbar-color: hsl(var(--nextui-content4)) hsl(var(--nextui-content1));
}

body,
body > [data-overlay-container],
body main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

body main,
body > [data-overlay-container] {
  flex: 1 0 auto;
}

body main {
  @apply pt-header-height;
}

:root {
  --header-height: 4rem;
  --page-top-space: 2.5rem;

  --rowColor-red: #ff6f6f;
  --rowColor-orange: #ff9970;
  --rowColor-light-orange: #ffbd70;
  --rowColor-yellow: #ffd870;
  --rowColor-lime-green: #c5ff70;
  --rowColor-green: #70ff94;
  --rowColor-turquoise: #70ffd9;
  --rowColor-light-blue: #70d9ff;
  --rowColor-blue: #7094ff;
  --rowColor-magenta: #c570ff;
  --rowColor-purple: #ff70bb;
  --rowColor-black: #404040;
  --rowColor-gray: #808080;
  --rowColor-silver: #b0b0b0;
  --rowColor-white: #e8e8e8;
}

.right-c-scrollbar-hover {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  @media screen and (min-width: 1024px) {
    scrollbar-gutter: stable;
    margin-left: 10px;
  }

  &:hover {
    scrollbar-color: hsl(var(--nextui-content4)) transparent;
  }
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar {
  width: 6px;
  @apply p-2;
}
*::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-content4 rounded-xl;
}

// Show ListBox scrollbar
.scrollbar-show {
  -ms-overflow-style: initial !important;
  scrollbar-width: thin !important;

  &::-webkit-scrollbar {
    display: block !important;
  }
}

.content {
  @apply overflow-hidden items-center flex-shrink-0 flex text-left relative;

  .content-text {
    @apply border relative bg-primary-100 border-primary flex justify-center items-center text-center h-full w-full p-0.5 overflow-hidden;
  }

  .content-name {
    @apply absolute left-0 bottom-0 wordb-break-word w-full max-w-full text-ellipsis bg-gradient-to-t from-80% from-black/50 pt-2 max-h-full md:text-sm;
  }

  .content-img {
    @apply w-full pointer-events-none block select-none max-h-full h-auto object-contain;
  }
}

.terms-container {
  p {
    @apply mb-3;
  }

  ul {
    @apply list-disc ml-8 mb-3;
  }

  a {
    @apply text-primary transition-opacity hover:opacity-80;
  }

  h2 {
    @apply text-xl font-bold mb-2 mt-6;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .wordb-break-word {
    word-break: break-word;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }
}

// Bottom privacy choices
.iub__us-widget {
  @apply bg-content1;
}

.list-accordion hr.h-divider {
  width: calc(100% - 16px);
  margin: auto;
}

@media (max-width: 640px) {
  :root {
    --page-top-space: 1.5rem;
  }
}

@import "./anim-vertical-words.scss";
@import "./list-thumbnail-create.scss";
